<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>


<body>
  <h1>hello</h1>
  <%  for ( let i = 0; i < pokemon.length; i++ ) { %>
  <ul class='pokemon'>
    <%=  pokemon[i].name; %>
    <img src='<%=pokemon[i].img; %>'>
    <a href="/pokemon/<%=i%>">Link To Page</a>
    <a href="/pokemon/<%=i%>/edit">Edit <%=pokemon[i].name%></a>


  </ul>
  <%  } %>

</body>

</html>
